@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100');

.about {
  display: block;
  background: white;
  width: 100%;
  padding-top: 8vh;
  padding-bottom: 4vh;
}

.about_me_title {
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  align-self: center;
  font-size: 4vw;
}

.about_me_layer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6vh;
}

.about_me_picture {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
}

.strength_layer {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.strength_size {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.strength_img {
  text-align: center;
  width: 15vw;
}

.icon {
  width: 5vw;
  height: 5vw;
}

.hedding {
  width: 25vw;
  height: 25vw;
}

/* 모바일 */
@media screen and (max-width: 767px){
  .about_me_picture {display:block;width:100%;margin:0;}
  .hedding {width:100%;height:auto;padding:0 15px;}
  .strength_layer {width:100%;}
  .strength_img {width:100%;}
  .icon {display:inline-block;margin:18px 10px 0 0;vertical-align:top;}
  .strength_size {display:block;}
  h4.ant-typography, .ant-typography h4 {display:inline-block;padding:0;}
  .ant-typography {display:block;padding:0 15px;text-align:center;}
}
