@import url('https://fonts.googleapis.com/css?family=Roboto:500');

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
}

.header-text {
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 800px;
}

p {
  margin: 0px 20px 0px 20px;
}
p:hover {
  color: #04c2c9;
  cursor: pointer;
}

/* 모바일 */
@media screen and (max-width: 767px){
  .header {z-index:10;}
  .header p {margin:0 10px;}
}