@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.typer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/back.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
}

.typer-text {
  font-family: 'Noto Sans KR', sans-serif;
  border-right: 0.1em solid white;
  font-size: 4vw;
  color: white;
  white-space: pre;
  line-height: 1;
  padding-top: 0.2em;
  animation: blink 1s step-end infinite;
}

.button {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  color: white;
  font-size: 2vw;
  width: 20vw;
  height: 8vh;
  background: none;
  border-radius: 12px;
  border: 2px solid #fff;
  margin:20px 0 0;
}

.button:hover {
  cursor: pointer;
  background: #04c2c9;
  transition: all 0.5s;
}

/* 모바일 */
@media screen and (max-width: 767px){
  .typer-text{font-size:5vw;}
  .button {width:50vw;font-size:4vw;}
}