@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.carousel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 66vh;
  background: #364d79;
  width: 100%;
  padding-top: 4vh;
}
.carousel_siz {
  width: 45vw;
}
