@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.carousel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 66vh;
  background: #1b242f;
  width: 100%;
  padding-top: 4vh;
}
.carousel_siz {
  width: 45vw;
}

.ant-card-head,
.ant-card-body {
  color: #fff;
}
.ant-card.contentStyle {
  background: #364d79;
}
.ant-card-body .ant-typography {
  color: #fff;
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .carousel {
    display: block;
    height: 450px;
    padding-top: 8vh;
  }
  .carousel_siz {
    width: 100%;
  }
  .ant-card-head,
  .ant-card-body {
    padding: 0 15px;
  }
  .ant-card.contentStyle {
    height: 330px;
    padding: 0 0 15px;
  }
  .textStyle {
    padding: 10px 0;
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .ant-card-body .ant-typography {
    padding: 0;
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
  }
  .ant-carousel .slick-dots-bottom {
    bottom: 0;
  }
}
