.bar {
  display: flex;
  font-size: 11pt;
  height: 28vh;
  margin: 0 0 5rem 0;
  max-width: 90%;
  background-color: #eee;
  color: #666;
  align-items: flex-end;
}

.bar_fill {
  /* width: 90%; */
  background-color: #00a1a7;
  opacity: 1;
  font-size: 11pt;
  height: 28vh;
}

.bold {
  width: auto;
  background-color: #04c2c9;
  color: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level {
  /* padding-right: 15px;
  padding-left: 15px; */
  background-color: #eee;
  color: #666;
  justify-content: center;
  height: 100%;
}
