@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.carousel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: #364d79;
  width: 100%;
}

.carousel_siz {
  width: 40vw;
}

.contentStyle {
  font-size: 1rem;
  height: 40vh;
  color: black;
  background: coral;
}
